/* Estilos para a caixa de diálogo */
#no-yes-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.buttonOption {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

#no-yes-dialog p {
  margin-bottom: 15px;
}

.yes {
  background-color: #4caf50;
  color: white;
}

.yes:hover {
  background-color: #45a049;
}

.no {
  background-color: #f44336;
  color: white;
}

.no:hover {
  background-color: #ff7961;
}
